{{!-- todo: build delete book handlebars --}}

<div class="card mb-6">
    <header class="card-header card-header-title has-background-grey-lighter">
        <div class="column">
            <p class=" has-text-primary-light"></p>
            
        </div>
        <div class="column">
        <span class=""> </span>
        </div>
    </header>

    <div class="card-content">
        <div class="content has-text-justified">
            {{}}
        </div>
 
    </div>
