<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Milton's Book Library</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    
    <header>
        <nav class="title">
          <a href="/">Milton's Book Library</a>
        </nav>
        <nav>
          {{#if loggedIn}}
            <a href="/">Homepage</a>
            <a href="/booklibrary">Book Library</a>
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/">Homepage</a>
            <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}


      <img src="../../public/images/Book-shelves.jpg" alt="Book Shelves">
    </main>

    <footer>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
