
<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>
    <span for="img" aria-label="book"></span>
    <span style='font-size:100px;'>&#128218;</span>
    <span class="book-library">{{}}</span>
    Books
  </p>
  <p>
    <button class="btn btn-primary">My Book Library</button>
  </p>
</div>