    <div class="mb-5 pt-3">
        <a href="/dashboard/create/"><button id="add-book" class="button is-primary is-pulled-right">Add Book</button></a>
        
        <h2 class="title pb-4">Your Books</h2><hr>
{{#if books.length}}
    </div>

    {{#each books as |book|}}
        {{> book-info book}}
        
            <a href="/dashboard/edit/{{book.id}}"><button class="button mb-5 ml-5 is-warning">Edit Book</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">Add your first book</h6>

{{/if}}


