<h1 class="pb-4 has-text-centered has-text-weight-bold">Book Recommendations:</h1>

{{#each books as |book| }}
<h2 class="has-text-weight-bold">{{book.name}} </h2>
    <p >{{book.description}} | {{book.author}} | {{book.genre}}</p> 
{{/each}}
   


